@import "bulma/bulma"

.react-icons
    verticalAlign: middle

.is-fullheight-100vh
    height: 100vh

.fullwidth
    width: 100%

.bulma-loader-mixin
  @include loader

.fix-to-bottom
    position: absolute
    bottom: 0px