@import "bulma/bulma"
@import '@creativebulma/bulma-badge'

$mobile: 960px

.text-links
    display: flex

.username
    display: block

@media (max-width: $mobile)
    .text-links
        display: none
    .username
        display: none

.react-icons
    vertical-align: middle

.is-fullheight-100vh
    height: 100vh

.fullwidth
    width: 100%
    
.fullheight
    height: 100%

.chat-window
    overflow: auto
    height: 75vh

.chat-input
    position: sticky
    bottom: 0px

.match-list
    height: 75vh
    position: sticky
    overflow: auto

.bulma-arrow-mixin
    @include arrow(black)

.round-green
    background-color: green
    width: 10px
    height: 10px
    border-radius: 50%

.round-gray
    background-color: gray
    width: 10px
    height: 10px
    border-radius: 50%

.image img
    height: 100%
    width: 100%
    object-fit: cover

.loader
  border: 10px solid #f3f3f3
  border-top: 10px solid #e90c59
  border-radius: 50%
  width: 80px
  height: 80px
  animation: spin 1s linear infinite

@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
    
.has-element-centered
    display: flex
    justify-content: center
    align-items: center

.swiper-slide 
  background-size: contain
  background-repeat: no-repeat
  background-position: center

.slide-text
    position: absolute

.rounded-corners
    border-radius: 10px

.online-indicator
    position: relative
    z-index: 10
